@{
    ViewBag.Title = "Usuarios";
}

<h2>Usuarios</h2>

<p>
    @Html.ActionLink("Crear usuario", "Create")
</p>
<input id="inpBusqueda" class="form-control" placeholder="Buscar usuarios" style="margin-bottom:5px;" onkeyup="paginadoUsuario()" />
@*<select id="registrosPP" class="form-control">
    <option class="form-control">10</option>
    <option class="form-control">20</option>
    <option class="form-control">50</option>
    <option class="form-control">Todos</option>*@
@*</select>*@

<table class="table table-striped table-responsive-lg">
    <thead>
        <tr>
            <th>Nombre de usuario</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Estatus</th>
            <th>Fecha de registro</th>
            <th colspan="3">Opciones</th>
        </tr>
    </thead>
    <tbody id="ctU">
    </tbody>
</table>
<center>
    <button id="btnPrevious" class="btn btn-default" onclick="paginadoUsuario(parseInt(pageP) - 1)" disabled><i class="fas fa-caret-left"></i></button>
    <label id="previous"></label><label> - <label id="actual"></label> - </label><label id="next"></label>
    <button id="btnNext" class="btn btn-default" onclick="paginadoUsuario(parseInt(pageP) + 1)" disabled><i class="fas fa-caret-right"></i></button>
</center>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
      var pageP = 0
        function paginadoUsuario(page) {
        if (page == undefined) {
            pageP = 1
        } else {
            pageP = page
        }
        var totalpaginas = 0
        var filtro = document.getElementById("inpBusqueda").value
        var frm = new FormData()
        frm.append("filtro", filtro)
        frm.append("pagina", pageP)
        frm.append("registrosPagina", 15)

        var x = new XMLHttpRequest()
            x.open("POST", "/Usuarios/BuscarUsuario")
        x.addEventListener("load", function (e) {
            var response = JSON.parse(x.responseText)
            if (response.length == 0) {
                pageP = 0;
                totalpaginas = 0;
            } else {
                totalpaginas = response[0].total;
            }

            document.getElementById("ctU").innerHTML = ""
            var inner = ""

            for (var i = 0; i < response.length; i++) {
                inner += "<tr><td>" + response[i].usu_username + "</td>" +
                    "<td>" + response[i].nombre + "</td>" +
                    "<td>" + response[i].desc + "</td>" +
                    "<td>" + response[i].estatus + "</td>" +
                    "<td>" + response[i].fecha + "</td>" +
                    "<td class=\"InvisiblePrint\"><a class=\"btn btn-primary\" href=\"/Usuarios/Edit/" + response[i].Id + "\">Editar</a></td><td><a class=\"btn btn-info\" href=\"/Usuarios/Details/" + response[i].Id + "\">Detalles</a></td><td><a class=\"btn btn-danger\" href=\"/Usuarios/Delete/" + response[i].Id + "\">Eliminar</a></td></tr>"
            }
            document.getElementById("ctU").innerHTML = inner

            document.getElementById("next").textContent = totalpaginas
            if (pageP <= 1) {
                document.getElementById("previous").textContent = pageP
                document.getElementById("btnPrevious").disabled = true
                if (pageP = totalpaginas) {
                    document.getElementById("btnNext").disabled = true
                }
            } else if (pageP == totalpaginas) {
                document.getElementById("btnPrevious").disabled = false
                document.getElementById("btnNext").disabled = true
            } else {
                document.getElementById("btnNext").disabled = false
            }
            document.getElementById("actual").textContent = pageP
        });
        x.send(frm)
    }
    paginadoUsuario()
    </script>
}
