@model IEnumerable<CasasRed_Nuevo3_.Models.Contaduria>

@{
    ViewBag.Title = "Contadurias";
}

<center><h2 style="margin-top:20px;">Departamento de Contaduría</h2></center>
<div class="row">
    <div class="col">

    </div>
    <div class="col-3">
        <input id="txtBusquedaA" class="form-control" style="margin-bottom:5px;" placeholder="Buscar por cliente o asesor" onkeyup="buscarContaduria()" />
    </div>
</div>
<table class="table table-striped table-responsive-md">
    <thead>
        <tr>
            <th scope="col">Dirección</th>
            <th scope="col">Asesores Asignados</th>
            <th scope="col">Estatus corretaje</th>
            <th scope="col" colspan="4">Opciones</th>
        </tr>
    </thead>
    <tbody id="ctBA">
    </tbody>
</table>
                    @*@Html.ActionLink("Insertar Gasto", "Create", "GastosContadurias", new { id_casa = item.Id }, null)*@
<center>
    <button disabled class="btn btn-default" id="btnPrevious" onclick="buscarContaduria(parseInt(pageP) - 1)"><i class="fas fa-caret-left"></i></button>
    <label id="previous"></label><label> - <label id="actual"></label> - </label><label id="next"></label>
    <button disabled class="btn btn-default" id="btnNext" onclick="buscarContaduria(parseInt(pageP) + 1)"><i class="fas fa-caret-right"></i></button>
</center>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var pageP = 1
        function buscarContaduria(page) {
            var totalPages = 1;
            if (page == undefined) {
                page = 1
            }
            pageP = page
            var filtro = document.getElementById("txtBusquedaA").value;
            var frm = new FormData();
            frm.append("filtro", filtro);
            frm.append("pagina", page);

            var x = new XMLHttpRequest()
            x.open("POST", "/Contadurias/BuscarConduria", false);
            x.addEventListener("load", function (e) {
                var json = JSON.parse(x.responseText)
                document.getElementById("ctBA").innerHTML = "";

                if (json.length == 0) {
                    page = 0;
                    totalPages = 0;
                } else {
                    totalPages = json[0].total;
                }
                var inner = ""
                for (var i = 0; i < json.length; i++) {
                    var tr = document.createElement("tr")
                    if (!buscarentablas(json[i].Id, json[i].vendenombre,json[i].vendeapp,json[i].vendeapm)) {
                        tr.id = json[i].Id
                        
                        tr.innerHTML = 
                            "<td>" + json[i].direccion + "</td>" +
                        "<td>" + json[i].vendenombre + " "+json[i].vendeapp +" "+json[i].vendeapm+ "</td>" +
                            "<td>" + json[i].estatus + "</td>" +
                            "<td><a class=\"btn btn-primary\" href=\"/Contadurias/Edit/" + json[i].Id + "\">Editar</a></td>" +
                            "<td><a class=\"btn btn-info\" href=\"/GastosContadurias/Details" + '?' + "idcontaduria=" + json[i].Id + "\">Detalles</a></td>" +
                            
                            ((json[i].corretaje != 0) ? "<td><a class=\"btn btn-success\" href=\"/GastosContadurias/Create/" + json[i].corretaje + "\">Insertar gasto</a></td>" : "<td></td>");
                        document.getElementById("ctBA").appendChild(tr)
                    }

                   
                }
                //document.getElementById("ctBA").innerHTML = inner
                document.getElementById("next").textContent = totalPages
                if (pageP <= 1) {
                    document.getElementById("previous").textContent = page
                    document.getElementById("btnPrevious").disabled = true
                    if (pageP == totalPages) {
                        document.getElementById("btnNext").disabled = true
                    }
                } else if (pageP == totalPages) {
                    document.getElementById("btnPrevious").disabled = false
                    document.getElementById("btnNext").disabled = true
                } else {
                    document.getElementById("btnNext").disabled = false
                }
                document.getElementById("actual").textContent = page
            });
            x.send(frm)
        }

        function buscarentablas(dato,valor,valor1,valor2) {
            var encontrado = false
            var body = document.getElementById('ctBA')
            var rows = body.childElementCount
            for (var j = 0; j < rows; j++) {
                console.log(body.children[j].id)
                if (dato == body.children[j].id.toString()) {
                    body.children[j].children[1].textContent += ", " + valor +" "+valor1+" "+ valor2;
                    encontrado = true
                    break
                }
            }
            return encontrado;
        }
        buscarContaduria()
    </script>
}