@{
    ViewBag.Title = "Artículo > Historial";
    string articulo = ViewBag.Articulo;
}
<h2>Historial del articulo @articulo</h2>

<div id="cabeceroPrint">
    <div class="form-inline mx-sm-3 mb-2 float-left">
        <label>Filtro: </label>
        <input class="form-control" id="inpBusqueda" onkeyup="paginadoHistorial()" placeholder="Buscar por artículo" />
    </div>
    <div class="form-inline mx-sm-3 mb-2 float-left">
        <label>Registros por página: </label>
        <select id="slcR" class="form-control" onchange="paginadoHistorial()">
            <option>15</option>
            <option>30</option>
            <option>50</option>
            <option>Todos</option>
        </select>
    </div>
    <div class="form-inline mx-sm-3 mb-2 float-left">
        <label>Registros por página: </label>
        <select id="slcT" class="form-control" onchange="paginadoHistorial()">
            <option>Todos</option>
            <option>Entrada</option>
            <option>Salida</option>
        </select>
    </div>
</div>
<div id="printZone" class="margenTopPrint">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Descripción</th>
                <th>Tipo</th>
                <th>Cantidad</th>
                <th>Fecha</th>
                <th>Usuario</th>
            </tr>
        </thead>
        <tbody id="ctCI"></tbody>
    </table>
</div>
<center>
    <button disabled id="btnPrevious" class="btn btn-default" onclick="paginadoHistorial(parseInt(pageP) - 1)"><i class="fas fa-caret-left"></i></button>
    <label id="previous"></label><label> - <label id="actual"></label> - </label><label id="next"></label>
    <button disabled id="btnNext" class="btn btn-default" onclick="paginadoHistorial(parseInt(pageP) + 1)"><i class="fas fa-caret-right"></i></button>
</center>

<script>
    var id = '@Html.Raw(ViewBag.id)';
    var pageP = 0;
    function paginadoHistorial(page) {
        if (page == undefined) {
            pageP = 1;
        } else {
            pageP = page;
        }
        var rxp = 0;
        if (document.getElementById('slcR').value != "Todos") {
            rxp = parseInt(document.getElementById('slcR').value);
        }
        var totalpaginas = 0;
        var filtro = document.getElementById("inpBusqueda").value;
        var frm = new FormData();
        frm.append("id", id);
        frm.append("filtro", filtro);
        frm.append("pagina", pageP);
        frm.append("registrosPagina", rxp);
        frm.append("tipo", document.getElementById("slcT").value);

        var x = new XMLHttpRequest();
        x.open("POST", "/Articulos/BuscarInventarioAsignado", false);
        x.addEventListener("load", function (e) {
            var response = JSON.parse(x.responseText);
            if (response.length == 0) {
                pageP = 0;
                totalpaginas = 0;
            } else {
                totalpaginas = response[0].total;
            }

            document.getElementById("ctCI").innerHTML = "";
            var inner = "";

            for (var i = 0; i < response.length; i++) {
                inner += "<tr>" +
                    "<td>" + response[i].descripcion + "</td>" +
                    "<td>" + response[i].tipo + "</td>" +
                    "<td>" + response[i].cantidad + "</td>" +
                    "<td>" + response[i].fecha + "</td>" +
                    "<td>" + response[i].nombre + "</td>" +
                    "</tr>";
            }
            document.getElementById("ctCI").innerHTML = inner;

            document.getElementById("next").textContent = totalpaginas;
            if (pageP <= 1) {
                document.getElementById("previous").textContent = pageP;
                document.getElementById("btnPrevious").disabled = true;
                if (pageP = totalpaginas) {
                    document.getElementById("btnNext").disabled = true;
                }
            } else if (pageP == totalpaginas) {
                document.getElementById("btnPrevious").disabled = false;
                document.getElementById("btnNext").disabled = true;
            } else {
                document.getElementById("btnNext").disabled = false;
            }
            document.getElementById("actual").textContent = pageP;
        });
        x.send(frm);
    }
    paginadoHistorial();

</script>
