@model CasasRed_Nuevo3_.Models.Ubicaciones

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Código
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ubi_codigo)
        </dd>
        <dt>
            Descrición
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ubi_descripcion)
        </dd>
    </dl>
    <hr />
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ubi_id }, new { @class="btn btn-info" }) | @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-danger" })
</p>
