@model CasasRed_Nuevo3_.Models.Ubicaciones

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <hr />
    <table class="table table-bordered">
        <tr>
            <th>Código</th>
            <td>@Html.DisplayFor(model => model.ubi_codigo)</td>
        </tr>
        <tr>
            <th>Descrición</th>
            <td>@Html.DisplayFor(model => model.ubi_descripcion)</td>
        </tr>
    </table>
    <hr />
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ubi_id }, new { @class="btn btn-info" }) | @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-danger" })
</p>
