@{
    ViewBag.Title = "Acerca de Nosotros";
}


<style>
    body {
        background-color: #F0F0F0;
    }
    .pt {
        color: black;
        text-align: center;
        font-size: 15px;
    }

    .p {
        color: black;
        text-align: justify;
        font-size: 14px;
    }
    .p3{
        color:black;
        text-align:justify;
        font-size:15px;
    }

    .p1 {
        color: darkred;
        font-size: 20px;
    }
</style>
<center>
    <div class="container" style="margin-top:50px;">
    <br />
        <h2 class="p1">
            <strong>¿Quién es Casas Red?</strong>
        </h2>
        <p class="pt">
            Es una empresa con sede en Tijuana,Baja california que se dedica a la compra,venta,traspasos y renta de bienes inmuebles con el objetivo de brindar siempre la mejor opción a nuestros clientes.
        </p>

        <div class="row">
            <div class="col-sm">
                <p class="p1"><strong>Mision</strong></p>
                <div class="container">
                    <p class="p">
                        Administrar inmuebles para la compra, venta y traspasos al mejor precio del mercado, brindando un servicio profesional y calidad de manera segura y transparente proporcionando asesoría honesta garantizando la satisfacción del cliente.
                    </p>
                </div>
            </div>
            <div class="col-sm">
                <p class="p1"><strong>Vision</strong></p>
            <div class="container">
                <p class="p">
                    Ser una empresa líder en la administración y comercialización de inmuebles estando siempre a la vanguardia, innovando y trabajando en equipo para alcanzar una proyección profesional de las personas que integramos casas red garantizando a nuestros clientes la mejor opción en bienes raíces.
                </p>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <p class="p1"><strong>Valores</strong></p>
                <div class="container">
                    <p class="p3">
                        <strong>Honestidad</strong>: Hablar siempre con la verdad siendo congruentes con lo que decimos y hacemos, no participamos en sobornos y respetamos lo ajeno.
                        <br />
                        <strong>Profesionalismo</strong>: Es importante para nosotros ejercer nuestro trabajo con un alto grado de responsabilidad y calidad en el servicio que ofrecemos.
                        <br />
                        <strong>Servicio</strong>: Tratamos con amabilidad, rapidez y entusiasmo a nuestros clientes internos y externos.
                        <br />
                        <strong>Calidad</strong>: Nos esforzamos en cumplir con las especificaciones, parámetros en tiempo y forma de nuestros productos y servicios.
                        <br />
                        <strong>Lealtad</strong>: Estamos comprometidos a actuar y conducirnos con los ideales y pensamientos establecidos por nuestra empresa.
                        <br />
                        <strong>Respeto</strong>:  Alentamos acciones que propicien un buen ambiente de trabajo agradable y confianza dentro y fuera de la empresa.
                    </p>
                </div>
            </div>
        </div>
    </div>
</center>