@{
    ViewBag.Title = "Acerca de Nosotros";
}
<br />
<h2>@ViewBag.Title.</h2>
<h3>@*@ViewBag.Message*@Descripción</h3>

<br> <br />
<br> <br />
<br> <br />
<br> <br /><br> <br />
<br> <br />
<br> <br />
<br> <br /><br> <br />
<br> <br />
<br> <br />
<br> <br /><br> <br />
<br> <br />
<br> <br />
<br> <br /><br> <br />
<br> <br />
<br> <br />
<br> <br /><br> <br />
<br> <br />
<br> <br />
<br> <br /><br> <br />
<br> <br />
<br> <br />
<br> <br />
<p>Aquí se escribirá información de la empresa.</p>
