@{
    ViewBag.Title = "Contacto";
}

@*<h2>@ViewBag.Title.</h2>*@
@*<h3>@ViewBag.Message</h3>*@

<style>

    h3 {
        color: red;
    }

    body {
        background-color: #F0F0F0;
    }

    .p {
        color: black;
        text-align: justify;
        font-size: 13px;
    }

    .pt {
        color: black;
        text-align: center;
        font-size: 13px;
    }

    .p1 {
        color: darkred;
        font-size: 20px;
    }
</style>

<div class="container">
    <br />
    <center>
        <h3 class="h3" style="margin-top:50px;">Detalles de contacto</h3><br />
        <div class="row">
            <div class="col-sm">
                <p class="p1">Zona 5 y 10</p>
                <div class="container">
                    <p class="p">
                        Blvd. Lázaro Cárdenas No. 405, Local 16 y 17 dentro de Soriana Hiper a un costado de Coppel y Famsa
                    </p>
                </div>
            </div>
            <div class="col-sm">
                <p class="p1">Zona Centro</p>
                <div class="container">
                    <p class="p">
                        Calle 3ra o Carrillo Puerto No.8037 Int. 4
                        Plaza del Sol, frente a Hospital Senabil
                    </p>
                </div>
            </div>
            <div class="col-sm">
                <p class="p1">Zona Otay</p>
                <div class="container">
                    <p class="p">
                        Calzada Tecnológico 13701 local 201 Planta Alta Fracc. Indeco Universidad dentro de Plaza Soriana Universidad
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <p class="p1">Telefonos</p>
                <div class="container">
                    <p class="pt">
                        Oficina: 250 0747
                        <br />
                        Oficina: 250 2686
                    </p>
                </div>
            </div>
            <div class="col-sm">
                <p class="p1">Telefonos</p>
                <div class="container">
                    <p class="pt">
                        Oficina: 383 6692
                        <br />
                        Oficina: 383 6682
                    </p>
                </div>
            </div>
            <div class="col-sm">
                <p class="p1">Telefonos</p>
                <div class="container">
                    <p class="pt">
                        Oficina: 736 6420
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="container">
                    <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3364.938312092569!2d-116.96623478521154!3d32.50107788105616!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80d9380dc6361241%3A0xc6c863f135c9b34d!2sCasas+RED!5e0!3m2!1ses-419!2smx!4v1532626905834" width="300" height="250" frameborder="0" style="border:0" allowfullscreen></iframe></p>
                </div>
            </div>
            <div class="col-sm">
                <div class="container">
                    <p><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d420.4651356129424!2d-117.03940758055025!3d32.53359547738686!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf5b9390266b381c8!2sDel+Sol+Plaza!5e0!3m2!1ses!2smx!4v1532627143204" width="300" height="250" frameborder="0" style="border:0" allowfullscreen></iframe></p>
                </div>
            </div>
            <div class="col-sm">
                <div class="container">
                    <p><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13455.562804924819!2d-116.97832100000001!3d32.529066!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80d947dddb310f7b%3A0x72bef5198619df89!2sCalz+del+Tecnol%C3%B3gico+13701%2C+Indeco+Universidad%2C+22427+Tijuana%2C+B.C.%2C+M%C3%A9xico!5e0!3m2!1ses!2sro!4v1532627185645" width="300" height="250" frameborder="0" style="border:0" allowfullscreen></iframe></p>
                </div>
            </div>
        </div>
    </center>
</div>

@section Scripts {
    <script>
        $(document.body).css('padding-top', '70px');
    </script>
}