@{
    ViewBag.Title = "Contacto";
}
<br />
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<div class="row">
    <div class="col-sm-6">
        <h4 class="text-center">5 y 10</h4>
        <address class="text-justify">
            <p>Blvd. Lázaro Cárdenas No. 405, Local 16 y 17</p>
            <p>Dentro de Soriana Hiper a un costado de Coppel y Famsa</p>
        </address>

        <address>
            <strong>Whatsapp:</strong>(664) 439 2448<br />
            <strong>Oficina:</strong>(664) 250 0747<br />
            <strong>Radio:</strong>32*988455*<br />
        </address>
    </div>
     
    <div class="col-sm-6">
        <h4 class="text-center">Zona Centro</h4>
        <address class="text-justify">
            <p>Calle 3ra o Carrillo Puerto No.8037 Int. 4</p>
            <p>Plaza del Sol, Zona Centro</p>
        </address>

        <address>
            <strong>Oficio:</strong>383.6682<br />
        </address>
    </div>

</div>