@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">Bienvenido a nuestro portal web</h1>
    <p class="lead text-center">¡Gracias por visitarnos!</p>
    <p class="lead text-md-center">Si eres cliente puedes consultar información</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-12">
        <h2 class="text-center">Identifícate </h2>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2 class="text-center">Cliente</h2>
        <p class="text-center"><i class="fas fa-user fa-10x"></i></p>
        <p class="text-justify">
            Si ya eres cliente y estás a la espera te recibir tu vivienda ingresa con tú folio para
            observar el avance de tú futura casa.
        </p>
        <p><a class="btn btn-default" href="#">Ingresar Folio &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2 class="text-center">Equipo Casas Red</h2>
        <p class="text-center"><i class="far fa-user fa-10x"></i></p>
        <p>Conoce a nuestro equipo de trabajo que le asesoraran y ayudarán a conocer su nueva casa.</p>
        <p><a class="btn btn-default" href="#">Conoce más &raquo;</a></p>
    </div>
    @*<div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>
