@{
    ViewBag.Title = "Home Page";
}

@{
    Layout = "~/Views/Shared/_Layout Home.cshtml"; <!-- especifica la plantilla a utilizar , crear una para el index general -->

}

<style>
    .button1 {
        background-color: transparent;
        color: white;
        padding: 8px 150px;
        border: 1px solid #FF0000; /* red */
        display: inline-block;
        text-align: center;
        margin: 4px 2px;
        opacity: 1;
        transition: 0.3s;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
    }

     .button1:hover {
        opacity: 0.6
     }

    .p {
        color: red;
        text-align: justify;
        font-size: 13px;
    }
    
    .navbar-yellow {
        background-color: transparent !important;
    }

    .container-margin{
        margin-bottom:155px;
    }

    .collapse-color {
        background-color: gray !important;
    }

    .s-icon {
        font-size: 60px;
        color: #bf0411;
        opacity: 0.8;
    }

    .h2 {
        text-align: center;
        color: #bf0411 !important;
        font-size: 22px;
        line-height: 26px;
        padding: 10px 0 5px 0;
    }

</style>

<div class="container container-margin">
    <center>
        <h3 class="text-center" style="color: rgb(255, 255, 255)">Empresa lider en la administracion</h3>
        <h3 class="text-center" style="color: rgb(255, 255, 255)">y comercializacion de inmuebles </h3>
        <p class="lead text-center" style="color: rgb(255, 255, 255); font-size: 15px;">Compra,venta,renta casa o propiedad en la region</p>
   
        <button type="button" class="btn button1">Entrar</button>
    </center>
</div>


<center>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <span class="icon-home s-icon"></span>
                @*<img src="~/Media/logo-casas-red.png">*@
                <div class="container">
                    <h2 class="h2">Compra y Renta</h2>
                    <p class="p">Si pretendes vender o rentar un departamento,casa o propiedad somos tu mejor opcion en la gestion inmobiliaria de la region.</p>
                </div>
            </div>
            <div class="col-sm">
                <span class="icon-logout s-icon"></span>
                <div class="container">
                    <h2 class="h2">Venta y Renta</h2>
                    <p class="p">Somos tu mejor guia inmobiliaria para la compra,venta y renta de casas y departamentos que conseguimos la mejor opcion de vivienda, en las zonas mas exclusivas y al mejor precio.</p>
                </div>
            </div>
            <div class="col-sm">
                <span class="icon-refresh s-icon"></span>
                <div class="container">
                    <h2 class="h2">Traspasos</h2>
                    <p class="p">Una propiedad implica un acto juridico denominado CESION respecto de un credito hipotecarios, de un proceso legal o de una compraventa que no ha sido protocolizada, es decir escriturrada.</p>
                </div>
            </div>
            <div class="col-sm">
                <span class="icon-info s-icon"></span>
                <div class="container">
                    <h2 class="h2">Avalúos</h2>
                    <p class="p">Estimacion del valor comercial de un inmueble a traves de un dictamen tecnico imparcial mediante las caracteristicas de uso y el analisis de mercado.</p>
                </div>
            </div>
        </div>
    </div>
</center>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $(".navbar-toggler").click(function () {
            $("nav").toggleClass("navbar-yellow");
        });

        //$('#navbarSupportedContent').click(function () {
        //    $('nav').toggleClass('collapse-color');
        //});
        //$("a[aria-expanded='true']").css("background-color", "#42DCA3");
    </script>
}